* {
    box-sizing: border-box;
}
.option_buttons {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.btn {
    padding: 10px;
    margin-bottom: 10px;
}

.text {
    padding: 10px;
    padding-left: 20px;
}

.rules {
    padding: 20px;
}

h1 {
    padding-left: 20px;
}
